<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styling.css' %}" type="text/css">
    <title>WikiWalk</title>
</head>

<body>
    <div class="h-100">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">WikiWalk</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class = "container-fluid">
            <div class="row w-100">
                <div class = "col-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6 d-flex align-self-center that_booty">
                                <div class="mx-auto">
                                    <div class="my-how-to-play">
                                        STARTING POINT
                                    </div>
                                    <h3 class="col-12 d-flex justify-content-center point">{{ InitialLink }}</h3>
                                </div>
                            </div>
                            <div class="col-6 d-flex align-self-center that_booty">
                                <div class="mx-auto">
                                    <div class="my-how-to-play">
                                        ENDING POINT
                                    </div>
                                    <h3 class="col-12 d-flex justify-content-center point">{{ EndLink }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-5 pt-5">
                        <div class="row">
                            <div class="col-6 border rounded">
                                <div class="current-article mb-5 text-center pt-5">
                                    <h1>
                                        Current Article
                                    </h1>
                                    <h4 id="current_link">
                                        <a target="_blank" href="http://en.wikipedia.org/wiki/{{ CurrentLink }}">
                                            {{ CurrentLink }}
                                        </a>
                                    </h4>
                                </div>
                                <div class="add-link mt-5">
                                    <h2>
                                        Add a potential link
                                    </h2>
                                    <form method="POST"> {% csrf_token %}
                                        <input type="text" class="form-control my-3" placeholder="Your Link" name='suggested_link'>
                                        <button type="submit" class = "btn btn-primary btn-block">SUBMIT</button>
                                    </form>
                                    <!-- <button type="submit" form="link_suggestion" value="Submit">Submit</button> -->
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title text-center">
                                            Choose the next Article
                                        </h2>
                                        <input type="text" id="myInput" onkeyup="myFunction()" class="form-control my-3"
                                            placeholder="Search">
                                        <ul id="myUL" class="list-group" style = "max-height: 50vh; overflow-y: scroll;">
                                            {%for var in Link%}
                                            <li class="list-group-item">
                                                <a href="{% url 'forwards' next_link=var.LinkName %}">
                                                    {{ var.LinkName }}
                                                    <form method="POST" style="display: inline;"> {% csrf_token %}
                                                        <input type="hidden" name='embed_link' value="{{var.LinkName}}">
                                                        <button type="submit" class="btn">PEEK</button>
                                                    </form>
                                                </a>
                                            </li>
                                            {%endfor%}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-4" id = "wikidiv">
                    <object id="wikiobj" type="text/html" data="http://en.wikipedia.org/wiki/{{ PeakLink }}" style="overflow:auto;border:5px ridge black">
                    </object>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
         $('#wikiobj').width($('#wikidiv').width());
         $('#wikiobj').height($('#wikidiv').height());
        function myFunction() {
            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName('li');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
</body>

</html>
