.my-how-to-play
{
    font-size: 3rem;
    font-family: 'Chau Philomene One', sans-serif;

}
.nav-link{
    font-family: 'Montserrat';
}
.bg-pink
{
    background-color: #ff1744;
}

.navbar-brand
{
    font-size: 2.5rem;
    font-family:'Jua', sans-serif;
    padding-left: 2rem;
}

.my-explanation
{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.booty
{
    /* background-image: url("https://www.teahub.io/photos/full/267-2675255_bright-colors-wallpaper-colorful-desktop-background-background-bright.jpg"); */
    background-size: cover;
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0px;
}

.that_booty
{
    /* background-image: url("https://i.redd.it/2obw9yylddr51.jpg"); */
    background-size: contain;
    height: 100%;
}

.nav-item
{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: bold;
}

.ordered
{
    background-color:#242222;
    border-radius: 50px;
    box-shadow: 5px 10px black;
}
.bg-lala {
    background: black;
}
ul
{
    list-style-type:"\25BA";
}

li
{
    padding-left: 20px;
}

.game-desc {
    background-color: black;
}

.point {
    font-size: 1.2rem;
}

table {
    font-size: 2rem;
}
